<!DOCTYPE html>
<html ng-app="myFirstApp">
	<head>
		<title>AngularJS</title>
		<script src="http://127.0.0.1/angular.js"></script>
		<script src="app.js"></script>
	</head>
	<body>
		<div ng-controller="MyFirstController">
			<h1>Welcome to AngularJS</h1>
			{{message}}
			<br />
			{{greet()}}
			<br />
			<input type="text"
			 ng-model="name"
			 ng-keyup="keyup();">
			<div>
				Total numeric value of name {{name}} is: {{value}}
				<br />
				Total length of name {{name}} is: {{length}}
			</div>
			<button ng-click="nameChange();">Change Input Value</button>
		</div>
	</body>
</html>
